@model IEnumerable<ServiceOrder.ViewModel.ViewModels.Implementation.RegionViewModels.RegionEntityViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Regions</h2>
<br />
<p>
    @Html.ActionLink("Create New", "Create",null,new {@class="btn btn-default"})
</p>
<br />
<table class="table table-striped ">
    <tr class="row">
        <th class="col-md-10 col-lg-10 col-xs-8 col-sm-8">
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th class="col-md-10 col-lg-10 col-xs-8 col-sm-8"></th>
    </tr>

@foreach (var item in Model) {
    <tr class="row">
        <td class="col-md-10 col-lg-10 col-xs-8 col-sm-8">
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td class="col-md-10 col-lg-10 col-xs-8 col-sm-8">
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
