@if (Request.IsAuthenticated)
{
    if (User.IsInRole("client"))
    {
        <li>@Html.ActionLink("Order service", "Index", "ServiceProviders")</li>
        <li>@Html.ActionLink("My orders","ClientOrders","Order")</li>
    }
    else
    {
        if (User.IsInRole("service provider"))
        {
            <li>@Html.ActionLink("My orders", "ProviderOrders", "Order")</li>
        }
        if (User.IsInRole("admin"))
        {
            <li>@Html.ActionLink("Categories","Index","Category")</li>
            <li>@Html.ActionLink("Regions","Index","Region")</li>
            <li>@Html.ActionLink("Services","Index","ServiceType")</li>
        }
    }

}
