@using Microsoft.Owin.Security.DataHandler
@model IEnumerable<ServiceOrder.ViewModel.ViewModels.Implementation.ServiceProvidersViewModels.ServiceProviderViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Services);
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @for (int i = 0; i < item.Services.Count-1; i++)
            {
                <text>@item.Services[i].Title,</text>
            }
            <text>@item.Services[item.Services.Count-1].Title</text>          
        </td>
        <td>
            @Html.ActionLink("Make order","Index","Order",new {providerId = item.Id},null)
        </td>
        <td></td>
    </tr>
}

</table>
