@using Microsoft.Owin.Security.DataHandler
@model PagedList.IPagedList<ServiceOrder.ViewModel.ViewModels.Implementation.ServiceProvidersViewModels.ServiceProviderViewModel>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Providers";
}

<h2>Providers of Services</h2>

<table class="table">
    <tr>
        <th>
            Provider Name
        </th>
        <th>
            Services
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @for (int i = 0; i < item.Services.Count-1; i++)
                {
                    <text>@item.Services[i].Title,</text>
                }
                <text>@item.Services[item.Services.Count-1].Title</text>          
            </td>
            <td>
                @Html.ActionLink("Make order","Index","Order",new {providerId = item.Id},null)
            </td>
            <td></td>
        </tr>
    }

</table>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",new { page }))
