@model ServiceOrder.ViewModel.ViewModels.Implementation.ServiceProvidersViewModels.ServiceProviderViewModel

@{
    ViewBag.Title = "Manage";
}

<h2>Manage</h2>

@using (Html.BeginForm("EditDescription","ServiceProviders",FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10 control-label" style="text-align: left">
                @Html.DisplayFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control service-provider-input " } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })

                <input type="submit" value="Change Description" class="btn btn-default service-provider-manage-change-description-button" />
            </div>
        </div>
      
        <div class="form-group">
            @Html.ActionLink("Manage Regions", "AddRegion")
            <table class="table ">
                <tr class="table-header-tr">
                    <th>
                        @Html.DisplayNameFor(model => model.Regions)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model.Regions)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td class="center-text-in-table-td">
                            @Html.ActionLink("Delete", "DeleteRegion", new { regionId = item.Id })
                        </td>
                    </tr>
                }
            </table>
        </div>
        
        <div class="form-group">
            @Html.ActionLink("Manage Services", "AddService")
            <table class="table ">
                <tr class="table-header-tr">
                    <th>
                        @Html.DisplayNameFor(model => model.Services)
                    </th>
                    <th></th>
                    <th></th>
                </tr>

                @foreach (var item in Model.Services)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category.Title)
                        </td>
                        <td class="center-text-in-table-td">
                            @Html.ActionLink("Delete", "DeleteService", new { serviceId = item.Id })
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
}

