@model PagedList.IPagedList < ServiceOrder.ViewModel.ViewModels.Implementation.Order.OrderViewModel >
@using PagedList.Mvc;
@{
    ViewBag.Title = "My Orders";
}

<h2>My Orders  </h2>

<table class="table">
    <tr class="table-header-tr">
        <th>
            @Html.ActionLink("Order Date", "ClientOrders", new { sortOrder = ViewBag.DateSort })          
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().BeginTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().EndTime)
        </th>
        <th>
            @Html.ActionLink("Region", "ClientOrders", new { sortOrder = ViewBag.RegionSort }) 
        </th>
        <th>
            @Html.ActionLink("Service Type", "ClientOrders", new { sortOrder = ViewBag.ServiceTypeSort }) 
        </th>
        <th>
            @Html.ActionLink("Provider Name", "ClientOrders", new { sortOrder = ViewBag.ProviderNameSort }) 
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BeginTime.ToLocalTime().TimeOfDay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndTime.ToLocalTime().TimeOfDay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Region.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceType.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProviderName)
        </td>

    </tr>
}
</table>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("ClientOrders", new { page, sortOrder = ViewBag.CurrentSort }))